################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/verbose-test/obj
/verbose-test/bin/Debug/netcoreapp1.1
/verbose-test/.vs/config
/Unittest/obj
/Unittest/bin/Debug/netcoreapp1.1
